@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-txt: #121316;
    --twentyMargin: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--dark-txt);
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 0 4.5rem;
    color: var(--dark-txt);
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

header a {
    font-size: 24px;
    font-weight: 400;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

header .logo img {
    width: 20px;
}

header nav a {
    margin: var(--twentyMargin);
    text-transform: lowercase;
}

header nav a:hover {
    text-decoration: underline;
}

#hero {
    margin: 5rem 0;
}

h1 {
    font-weight: 400;
    font-size: 6.5vw;
}

#worksGrid {
    height: 70vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "projectOne projectOne projectTwo projectTwo"
    "projectOne projectOne projectThree projectFour"
    "projectFive projectFive projectThree projectFour"
    ;
}

.worksGridArea{
    border-radius: 1rem;
}

.worksGridArea .viewMore {
    margin: var(--twentyMargin);
    display: flex;
    justify-content: flex-end;
}


.viewMore a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 200%;
    font-size: 24px;
    transition: all .2s ease-in-out; 
}

.viewMore a:hover {
    transform: scale(0.9); 
}

#projectOne {
    grid-area: projectOne;
    background-color: #2d323f;;
}

#projectTwo {
    grid-area: projectTwo;
    background-color: #f0efe9;
}

#projectThree {
    grid-area: projectThree;
    background-color: #aba49a;
}

#projectFour {
    grid-area: projectFour;
    background-color: #2d323f;
}

#projectFive {
    grid-area: projectFive;
    background-color: #f0efe9;
}

footer {
    margin: 4rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}