@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-bg: #212327;
    --light-bg: #ffffff;
    --dark-txt: #212327;
    --light-txt: #ffffff;
    --twentyMargin: 20px;

}

html,
body {
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: red;
}

a {
    color: var(--dark-txt);
    text-decoration: none;
}

a:hover {
    cursor: url(../images/cursor.png), auto !important;
    
}

body {
    padding: 0 4.5rem;
    color: var(--dark-txt);
    font-family: 'Inter', sans-serif;
    cursor: url(../images/cursor.png) !important;
    cursor: -webkit-image-set(
        url(../images/cursor.png) 1x,
        url(../images/cursor.png) 2x
      ), auto !important;
}

.light {
    background-color: var(--light-bg);
    color: var(--dark-txt) !important;
    transition: all .2s ease-in-out; 
}
 
.dark {
    background-color: var(--dark-bg);
    transition: all .2s ease-in-out; 
}

.dark a:not(.viewMore a),
.dark p,
.dark h1,
.dark button{
    color: var(--light-txt) !important;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

header a {
    font-size: 24px;
    font-weight: 400;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

header .logo img {
    width: 20px;
}

header nav a {
    margin: var(--twentyMargin);
    text-transform: lowercase;
}

header nav a:hover {
    text-decoration: underline;
}

#hero {
    margin: 5rem 0;
}

h1 {
    color: #e5e5e5;
    font-weight: 400;
    font-size: 6.5vw;
}

#worksGrid {
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 600px 600px 600px;
    grid-template-areas: 
    "projectOne projectTwo"
    "projectThree projectFour"
    "projectFive projectFive"
    ;
    
}

.gridHeader {
    margin-bottom: 2rem;
    text-transform: lowercase;
    font-size: 24px;
}

.worksGridArea{
    padding: var(--twentyMargin);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    
}

.worksGridArea .viewMore {
    display: flex;
    justify-content: flex-end;
}


.viewMore a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 200%;
    font-size: 24px;
    transition: all .2s ease-in-out; 
}

.viewMore a:hover {
    transform: scale(0.9); 
}

.heading {
    color: #ffffff;
    font-size: 2rem;
    text-transform: lowercase;
}

.project-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   ; 
}


.hashtags p {
    font-size: 1rem;
    background-color: #ffffff5c;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all .2s ease-in-out
}

.hashtags p:hover {
    transform: scale(0.9); 
}

#projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#projectOne {
    grid-area: projectOne;
    /* background-image: url('../images/shoe-3.jpg'); */
    background-color: #F0EEEE;
    background-image: url('../images/shoe-3.jpg');
}

#projectTwo {
    grid-area: projectTwo;
    background-color: #f0efe9;
  
}

#projectThree {
    grid-area: projectThree;
    background-color: #aba49a;
}

#projectFour {
    grid-area: projectFour;
    background-color: #2d323f;
}

#projectFive {
    grid-area: projectFive;
    background-color: #f0efe9;
}

footer {
    margin-top: auto;
    margin: 4rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    font-size: 24px;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 4.5rem;
    height: auto;
}

@media only screen and (max-width: 760px) {
    body {
        padding: 2rem;
    }

    header {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
    }

    header nav a {
        margin: 0 10px 0 0;
    }

    h1 {
        font-size: 9vw;
    }

    #hero {
        margin: 2rem 0;
    }

    #worksGrid  {
        grid-template-rows: 400px 400px 400px 400px 400px;
        grid-template-areas: 
        "projectOne"
        "projectTwo"
        "projectThree"
        "projectFour"
        "projectFive"
        ;
    }
  
    footer {
      margin: 2rem auto 0 auto;
    }
  }