@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-bg: #212327;
    --light-bg: #ffffff;
    --dark-txt: #212327;
    --light-txt: #ffffff;
    --twentyMargin: 20px;

}

html,
body {
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: red;
}

a {
    color: var(--dark-txt);
    text-decoration: none;
}

a:hover {
    cursor: url(../images/cursor.png), auto !important;
    
}

body {
    padding: 0 4.5rem;
    color: var(--dark-txt);
    font-family: 'Inter', sans-serif;
    cursor: url(../images/cursor.png) !important;
    cursor: -webkit-image-set(
        url(../images/cursor.png) 1x,
        url(../images/cursor.png) 2x
      ), auto !important;
}

.light {
    background-color: var(--light-bg);
    color: var(--dark-txt) !important;
    transition: all .2s ease-in-out; 
}
 
.dark {
    background-color: var(--dark-bg);
    transition: all .2s ease-in-out; 
}

.dark a:not(.viewMore a),
.dark p,
.dark h1,
.dark button{
    color: var(--light-txt) !important;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

header a {
    font-size: 24px;
    font-weight: 400;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

header .logo img {
    width: 20px;
}

header nav a {
    margin: var(--twentyMargin);
    text-transform: lowercase;
}

header nav a:hover {
    text-decoration: underline;
}

#hero {
    margin: 5rem 0;
}

h1 {
    color: #e5e5e5;
    font-weight: 400;
    font-size: 6.5vw;
}

ul {
    list-style: none;
}

.gridHeader {
    margin-bottom: 2rem;
    text-transform: lowercase;
    font-size: 24px;
}

.projectGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.project {
    width: calc(50% - 10px); /* Adjust the width to accommodate the gap */
    /* You can also use calc(50% - 10px) to subtract half of the gap from each flex item */
    position: relative;
}

.projectImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}


.viewMore a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-color: #212327;
    border-radius: 200%;
    font-size: 24px;
    transition: all .2s ease-in-out; 
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.viewMore a:hover {
    transform: scale(0.9); 
}

.heading {
    color: #212327;
    text-transform: lowercase;
    font-weight: 500;
}

.project-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
    flex-direction: column;
}


.tags ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   ; 
}

.tags ul li {
    opacity: 0.6;
}
    

footer {
    margin-top: auto;
    margin: 4rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    font-size: 24px;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    font-size: 18px;
}

@media only screen and (max-width: 760px) {
    body {
        padding: 2rem;
    }

    header {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
    }

    header nav a {
        margin: 0 10px 0 0;
    }

    h1 {
        font-size: 9vw;
    }

    #hero {
        margin: 2rem 0;
    }

    .projectGrid {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
  
    footer {
      margin: 2rem auto 0 auto;
    }
  }